<h1>{{ site_title }}</h1>
<p>Pemilik: {{ site_owner }}</p>
<p>Nama server: {{ ansible_facts['hostname'] }}</p>
<p>IP: {{ ansible_facts['default_ipv4']['address'] }}</p>
<p>Memori: {{ ansible_facts['memtotal_mb'] }} MB</p>